.date_button_place_holder
{
    height: 50px;
    width: 50px;

    margin: 2.5px;

    padding: auto;

    border-style: solid;
    border-width: 0px;
    border-radius: 50px;

    background-color: var(--date_disabled_background_color, hsla(0, 100%, 100%, 1));
    color: var(--date_disabled_color, hsla(0, 0%, 80%, 1));

    line-height: 50px;
    text-align: center;
}