.day_label
{
    font-family: var(--font_family, Verdana, Arial, sans-serif);
    font-size: var(--font_size, 16px);
    margin: var(--margin, 0px);
    outline: var(--outline, 0px);
    border: var(--border, 0px);
    padding: var(--padding, 0px);
    box-sizing: var(--box_sizing, border-box);
    
    width: 50px;
    height: 50px;

    margin: 2.5px;
    
    padding: auto;

    border-style: solid;
    border-width: 0px;
    border-radius: 50px;

    background-color: var(--label_background_color, hsla(0, 100%, 100%, 1));
    color: var(--label_color, hsla(0, 100%, 0%, 1));

    line-height: 50px;
    text-align: center;
}

.day_label_tooltip
{
    visibility: hidden;

    position: relative;
    top: -10px;
    
    z-index: 10;

    display: inline-block;

    height: 26px; 

    line-height: 16px;

    padding: 5px;

    border-style: solid;
    border-width: 0px;
    border-radius: 5px;

    background-color: var(--tooltip_background_color, hsla(0, 0%, 50%, 1));
    color: var(--tooltip_color, hsla(0, 100%, 100%, 1));

    opacity: 0;
    transition: opacity 0.33s;
}

.day_label_Sunday
{
    width: 71px;
    left: 0px;
}

.day_label_Monday
{
    width: 73px;
    left: -11.5px;
}

.day_label_Tuesday
{
    width: 76px;
    left: -13px;
}

.day_label_Wednesday
{
    width: 102px;
    left: -26px;
}

.day_label_Thursday
{
    width: 85px;
    left: -17.5px;
}

.day_label_Friday
{
    width: 60px;
    left: -5px;
}

.day_label_Saturday
{
    width: 83px;
    left: -43px;
}

.day_label:hover .day_label_tooltip
{
    visibility: visible;
    opacity: 1;
}