.go_to_month_button
{
    font-family: var(--font_family, Verdana, Arial, sans-serif);
    font-size: var(--font_size, 16px);
    margin: var(--margin, 0px);
    outline: var(--outline, 0px);
    border: var(--border, 0px);
    padding: var(--padding, 0px);
    box-sizing: var(--box_sizing, border-box);
    
    width: 105px;
    height: 50px;
    position: relative;

    border-style: solid;
    border-width: 0px;
    border-radius: 50px;

    background-color: var(--not_selected_background_color, hsla(0, 100%, 100%, 1));
    color: var(--not_selected_color, hsla(0, 100%, 0%, 1));

    margin: 2.5px;

    transition-duration: 0.33s;
}

.go_to_month_button:hover
{
    background-color: var(--to_be_selected_background_color, hsla(232, 100%, 50%, 1));
    color: var(--to_be_selected_color, hsla(0, 100%, 100%, 1));
}

.go_to_month_button_selected
{
    background-color: var(--selected_background_color, hsla(231, 100%, 47%, 1));
    color: var(--selected_color, hsla(0, 100%, 100%, 1));
}