.year_button
{
    font-family: var(--font_family, Verdana, Arial, sans-serif);
    font-size: var(--font_size, 16px);
    margin: var(--margin, 0px);
    outline: var(--outline, 0px);
    border: var(--border, 0px);
    padding: var(--padding, 0px);
    box-sizing: var(--box_sizing, border-box);

    background-color: var(--date_background_color, hsla(0, 100%, 100%, 1));
    color: var(--date_color, hsla(0, 100%, 0%, 1));
    

    width: 187.5px;
    height: 50px;

    margin: 2.5px;

    border-style: solid;
    border-width: 0px;
    border-radius: 50px;
}

.year_button:hover
{
    background-color: var(--date_to_be_selected_background_color, hsla(232, 100%, 65%, 1));
    color: var(--date_to_be_selected_color, hsla(0, 100%, 100%, 1));

    transition-duration: 0.33s;
}

.year_button_selected
{
    background-color: var(--date_selected_background_color, hsla(231, 100%, 47%, 1));
    color: var(--date_selected_color, hsla(0, 100%, 100%, 1));
}

.year_button_disabled
{
    background-color: var(--date_disabled_background_color, hsla(0, 100%, 100%, 1));
    color: var(--date_disabled_color, hsla(0, 0%, 80%, 1));
}

.year_button_disabled:hover
{
    background-color: var(--date_disabled_background_color, hsla(0, 100%, 100%, 1));
    color: var(--date_disabled_color, hsla(0, 0%, 80%, 1));
}
