#app
{
    height : 100vh;
    width : 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 90deg , hsla(10 , 100% , 59% , 1) , hsla(333 , 73% , 50% , 1));
}

