html,
body
{
  margin: 0px;
  outline: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: 'border-box';

  overflow: hidden;
}

#root
{
  margin: 0px;
  outline: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: 'border-box';

  display: flex;
  align-items: center;
  justify-content: center;
}