*
{
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;

  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

html,
body
{
  overflow: hidden;
}

#root
{
    display: flex;
    align-items: center;
    justify-content: center;
}