*
{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}

body
{
  height: 100vh;
  width : 100vw;
  background-color:  hsla(0 , 100% , 50% , 0);
  background-image: linear-gradient( 90deg , hsla(10 , 100% , 59% , 1) , hsla(333 , 73% , 50% , 1));
}

#root
{
  height : 100vh;
  width : 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}